@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <style>
    body{
        font-family:Cursive;
        background-color: #82b74b;
    }
   h1 {
        font-family: Algerian;
        color:white;
        background-color: #405d27;
        font-size:3em;
        text-align:center;

    }
    h2{
        font-family:Algerian;
        color:white;
        background-color: #405d27;
        font-size:2.5em;
        text-align:center;
    }
    p{
        text-align:center;
        color:black;
        font-size:1.6em;
    }
    #picture{
        padding:30px;

    }
   
    </style>

    <body>

        <h1>Magnetic Creation Company</h1>
        <img src="../img/company.jpg"alt="" width="1100" height="400"/>
        <p>
            Magnetic Creation is a tech company that specializes in creating
            magnetic toys and educational tools for children. The company was founded
            in 2016 by a group of four engineers who all shared a passion for science
            and technology. Since then, Magnetic Creation has grown rapidly and now has
            multiple branches in different parts of the world. Each branch has a team
            of talented engineers, designers, and marketers who work together to create
            innovative products and bring them to market .
        </p>
        <div class="col-sm-12">
            <h1>Branches of Magnetic creation Company</h1>
         <img id="picture" src="../img/download1.jpg"alt="" width="500" height="300"/>
        <img id="picture" src="../img/download3.jpg" alt="" width="500" height="300"/>
        </div>

        <p>
            The company has several branches across the world, including in North America, 
            Europe, and Asia. These branches help to distribute their products globally and
            provide customer support to their international clientele. Their products are widely 
            available in toy stores and online, making them easily accessible to parents and educators.
        </p>
    </body>

   
}

