@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        font-family:Cursive;
        background-color: #82b74b;
    }
   h1 {
        font-family: Algerian;
        color:white;
        background-color: #405d27;
        font-size:3em;
        text-align:center;

    }
    h2{
        font-family:Algerian;
        color:white;
        background-color: #405d27;
        font-size:2.5em;
        text-align:center;
    }
    p{
        text-align:center;
        color:black;
        font-size:1.6em;
    }
    .properties li{
        list-style-type: none;
        display: inline-block;
       
    }
   
      
      
    #project{
      
        float:center;
    }
  #property{
      padding:30px;
      margin:50px;

  }
  #photo{
      padding:30px;
      margin:50px;

  }
    
    
   
    
</style>
<body>
    <h1> Learn about Magnets</h1>
    <img id="project"src="../img/photo2.jpg" alt="" width="1100" height="600" />
    <p> Magnets are objects that produce a magnetic field,
        which can attract or repel other magnets or magnetic materials.
        They are made from materials that have magnetic properties, such as iron, nickel, and cobalt, 
        and can be found in various shapes and sizes, from small magnets used in refrigerator doors to 
        large magnets used in industrial applications. </p><br/>

        <div >
            <h2>Materials of Magnets</h2>
            <div>
            <img id="photo" src="../img/Magnet2.jpg"alt="" width="400" height="300"  />
            <img id="photo" src="../img/Magents3.jpg" alt="" width="400" height="300" />
            
            </div>
        </div><br/>

        <div class="Project">
            <h2>properties of Magnets</h2>
            <div class="col-sm-12">
            <img id="property"src="../img/Magnets6.jpg"alt="" width="400" height="200"/>
            <img id="property" src="../img/Magnet4.jpg" alt="" width="400" height="200" />


        </div>  
            <ul class="Properties">
                <li>Materials</li>
                <li>Applications</li>
                <li>Shape</li>
                <li>Magnetic strength</li>

            </ul>

            <br/>


            
        </div>
   
</body>


